.navbar ul{
  display: flex;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding: 20px;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}

.navbar a{
  text-decoration: none;
  color: black;
}
.navbar li{
  padding: 20px;
  margin: 20px;
  margin: auto;
}
.navbar a:hover{
  border-radius: 5px;
  text-decoration: underline;
}

body{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(250, 249, 246);
}

img{
  width: 400px;
  height: auto;
  display: block;
  margin: auto;
  max-width: 95%;
  border-radius: 5px;
}

#logo{
  display: block;
  height: auto;
  max-width: 40px;
  margin: 0;
}

header{
  border-bottom: 1px solid black;
}

#contact{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

header a{
  text-decoration: none;
}

header a:hover{
  border-radius: 5px;
  text-decoration: underline;
}

#contact ul{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}