.navbar ul{
  display: flex;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding-right: 40px ;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar{
  display: block;
  border-bottom: 1px solid black;
}

.navbar a{
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: black;
}

.navbar li{
  float: center;
}

.navbar a:hover{
  border-radius: 5px;
  text-decoration: underline;
}

body{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(250, 249, 246);
}

#introduction{
  padding-bottom: 10px;
}

header,
#article1{
  border-bottom: 1px solid black;
}

article,
#introduction{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}